server {
    listen 80;
    server_name redes-proyecto.northcentralus.cloudapp.azure.com;

    root /var/www/proyecto;
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }
}
